<div fxLayout="column" fxLayoutGap="1rem">
  <div fxLayout="row" fxLayoutAlign="center">
    <input type="text" pInputText placeholder="Brand" (input)="filter($any($event.target)?.value)" />
  </div>
  <p-table [value]="(filteredCars$ | async) ?? []">
    <ng-template pTemplate="header">
      <tr>
        <th>Vin</th>
        <th>Year</th>
        <th>Brand</th>
        <th>Color</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{car.vin}}</td>
        <td>{{car.year}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.color}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
